header {
    background-color: hsl(13, 100%, 72%);
    height: 40vh;
    border-bottom-left-radius: 75px;
    font-family: 'Overpass', sans-serif;
    position: relative;
}

#header-nav {
    display: flex;
    padding-top: 25px;
    margin-left: 6em;
    min-width: 800px;
}

#logo {
    width: 80px;
}

#header-nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15em;
    margin-left: 4em;
    z-index: 1;
}

.dropdown {
    position: relative;
}

.dropdown-summary {
    font-size: 14px;
    color: white;
    cursor: pointer;
    list-style: none;
}

.dropdown-summary:hover {
    text-decoration: underline;
}

.dropdown-summary::after {
    content: "";
    display: inline-block;
    background-image: url(images/icon-arrow-light.svg);
    width: 10px;
    height: 7px;
    margin-left: 5px;
    transition:transform .25s ease-in-out;
}

.dropdown-summary-flipped::after {
    -webkit-transform:scaleY(-1);
    -moz-transform:scaleY(-1);
    -ms-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}

.dropdown-list {
    position: absolute;
    top: 30px;
    background: white;
    padding: 15px;
    padding-right: 45px;
    border-radius: 6px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.459);
}

.dropdown-item {
    margin-top: 10px;
}

.dropdown-item:first-child {
    margin-top: 0px;
}

.dropdown-link {
    font-size: 14px;
}

.dropdown-link:hover {
    font-weight: bold;
}

#header-login-list {
    width: 10em;
    margin-left: auto;
    margin-right: 6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-login-item a {
    color: white;
    font-size: 14px;
}

.header-login-item:last-child {
    background:white;
    border-radius: 20px;
}

.header-login-item:last-child a {
    color: hsl(13, 100%, 72%);
    display: inline-block;
    padding: 10px 25px;
}

.header-login-item:last-child:hover {
    opacity: 70%;
}

#introduction-container {
    width: 100%;
    min-width: 1000px;
    position: absolute;
    top: 40%;
}

#title-div {
    width: max-content;
    margin: auto;
    text-align: center;
    color: white;
}

#title {
    font-size: 2.25rem;
    font-weight: bold;
}

#subtitle {
    margin-top: 1rem;
    font-size: 1rem;
}

#introduction-links-div {
    width: max-content;
    margin: auto;
    margin-top: 2rem;
    color: white;
}

#introduction-link-list {
    display: flex;
    width: 275px;
    justify-content: space-evenly;
}

.introduction-link-item {
    background:white;
    border-radius: 20px;
}

.introduction-link-item:last-child {
    background:hsl(13, 100%, 72%);
}

.introduction-link-item a {
    color: hsl(13, 100%, 72%);
    display: inline-block;
    padding: 10px 25px;
    border: rgb(255, 255, 255) 1px solid;
    border-radius: 20px;
    font-size: 14px; 
}

.introduction-link-item:last-child a {
    color: hsl(0, 0%, 100%);
}

.introduction-link-item:first-child:hover {
    opacity: 50%;
}

.introduction-link-item:last-child:hover {
    background:white;
}

.introduction-link-item:last-child:hover a {
    color: hsl(13, 100%, 72%);
}

.content-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    margin-top: 10vh;
}

.content-container-title {
    grid-column: 1 / 3;
    margin: auto;
    font-size: 1.5rem;
}

.content-div {
    margin: auto;
}

.content {
    margin: 3rem;
}


.content-img-div {
    margin: auto;
}

#editor-img{
    width: 500px;
}