body {
    overflow: hidden visible;
    font-family: 'Overpass', sans-serif;
}


header {
    background-color: hsl(13, 100%, 72%);
    height: 40vh;
    border-bottom-left-radius: 75px;
    position: relative;
    min-width: 900px;
    margin-bottom:14vh;
}

#header-nav {
    display: flex;
    padding-top: 25px;
    margin-left: 6em;
    min-width: 900px;
}

.logo {
    width: 80px;
}

#header-nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15em;
    margin-left: 4em;
    z-index: 1;
}

.dropdown {
    position: relative;
}

.dropdown-summary {
    font-size: 14px;
    color: white;
    cursor: pointer;
    list-style: none;
}

.dropdown-summary:hover {
    text-decoration: underline;
    user-select: none;
}

.dropdown-summary::after {
    content: "";
    display: inline-block;
    background-image: url(images/icon-arrow-light.svg);
    width: 10px;
    height: 7px;
    margin-left: 5px;
    transition:transform .25s ease-in-out;
}

.dropdown-summary-flipped::after {
    -webkit-transform:scaleY(-1);
    -moz-transform:scaleY(-1);
    -ms-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}

.dropdown-list {
    position: absolute;
    top: 30px;
    background: white;
    padding: 15px;
    padding-right: 45px;
    border-radius: 6px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.459);
}

.dropdown-item {
    margin-top: 10px;
}

.dropdown-item:first-child {
    margin-top: 0px;
}

.dropdown-link {
    font-size: 14px;
}

.dropdown-link:hover {
    font-weight: bold;
}

#header-login-list {
    width: 10em;
    margin-left: auto;
    margin-right: 6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-login-item a {
    color: white;
    font-size: 14px;
}

.header-login-item:last-child {
    background:white;
    border-radius: 20px;
}

.header-login-item:last-child a {
    color: hsl(13, 100%, 72%);
    display: inline-block;
    padding: 10px 25px;
}

.header-login-item:last-child:hover {
    opacity: 70%;
}

#introduction-container {
    width: 100%;
    min-width: 1000px;
    position: absolute;
    top: 40%;
}

#title-div {
    width: max-content;
    margin: auto;
    text-align: center;
    color: white;
}

#title {
    font-size: 2.25rem;
    font-weight: bold;
}

#subtitle {
    margin-top: 1rem;
    font-size: 1rem;
}

#introduction-links-div {
    width: max-content;
    margin: auto;
    margin-top: 2rem;
    color: white;
}

#introduction-link-list {
    display: flex;
    width: 275px;
    justify-content: space-evenly;
}

.introduction-link-item {
    background:white;
    border-radius: 20px;
}

.introduction-link-item:last-child {
    background:hsl(13, 100%, 72%);
}

.introduction-link-item a {
    color: hsl(13, 100%, 72%);
    display: inline-block;
    padding: 10px 25px;
    border: rgb(255, 255, 255) 1px solid;
    border-radius: 20px;
    font-size: 14px; 
}

.introduction-link-item:last-child a {
    color: hsl(0, 0%, 100%);
}

.introduction-link-item:first-child:hover {
    opacity: 50%;
}

.introduction-link-item:last-child:hover {
    background:white;
}

.introduction-link-item:last-child:hover a {
    color: hsl(13, 100%, 72%);
}

main {
    min-width: 900px;
}

.content-section-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20vh;
    position: relative;
}

.content-container-title {  
    margin: auto;
    font-size: 1.7rem;
    font-weight: bolder;
    color: hsl(208, 49%, 24%);
}

.content {
    margin: 3rem;
    width: 40%;
}

.content h3 {
    font-size: 1.4rem;
    font-weight: bold;
    color: hsl(208, 49%, 24%);
    margin-bottom: 1rem;
}

.content p {
    line-height: 1.6rem;
    font-size: .9rem;
}

#editor-img-desktop{
    left: 55%;
    position: absolute;
    width:600px;  
}

#infrastructure-container {
    display: flex;
    align-items: center;
    margin-bottom: 20vh;
    height: 18rem;
    background: hsl(237, 17%, 21%);
    border-bottom-left-radius: 75px;
    border-top-right-radius: 75px;
    position: relative;
    min-width: 900px;
    background-image: url(images/bg-pattern-circles.svg);
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: 0% 100%;
}

.infrastructure-content {
    margin-left: 40%;
    width: 60%;
}

.infrastructure-content h3 {
    font-size: 2rem;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    margin-bottom: 1rem;
    text-align: center;
}

.infrastructure-content p {
    line-height: 1.6rem;
    font-size: .9rem;
    width: 80%;
    margin: auto;
    color: hsl(0, 0%, 100%);
    max-height: 100px;
}

#phones-img {
    width: 400px;
    position: absolute;
    left: 1rem;
    top: -15%;
    z-index: 1;
}

.container-alt {
    align-items: flex-end;
}

#laptop-img-desktop {
    right: 55%;
    position: absolute;
    width:600px;    
}

footer {
    padding: 50px;
    padding-right: 150px;
    height: 25vh;
    background: hsl(237, 17%, 21%);
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
    min-width: 800px;
}

#footer-nav {
    flex-grow: 3;
    display: flex;
    justify-content: space-around;
}

.footer-link-list-title {
    color: white;
    font-weight: bold;
    margin-bottom: 2rem;
}

.footer-link-item {
    margin-bottom: 1rem;
}

.footer-link-item a{
    color: white;
}